@font-face {
  font-family: "Source Sans Pro Semi-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../../public/fonts/SSPro/SourceSansPro-SemiBold.ttf");
}

.settings {
  width: calc(100% - 16rem);
  height: 100vh;
  overflow-y: auto;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 1rem;

  .header {
    display: flex;
    align-items: center;
    height: 25%;

    img {
      margin-right: 5px;
    }

    h3 {
      font-family: "Source Sans Pro Regular", sans-serif;
      font-weight: normal !important;
      margin: 0;
    }
  }

  .content {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    place-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .settings {
    .content {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .settings {
    width: 100%;
    padding: 0 !important;

    .content {
      padding: 1rem !important;
    }
  }
}
